<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/styles/main.css">
    <title>crochet</title>
</head>
<body class="container">
    <header>
        <a class= "masthead" href="/vidya" title="Vidya">VIDYA</a>
    </header>
    <main>
        <div>
            <h1>Crochet Projects I've Made</h1>
            <p>I have made a number of crochets, soft toys in my childhood though I dont have any pictures of them. Now I love making crochets - beans, sweaters etc for my children! </p>
        </div>
        <ul>
            <li>
                <h2>This was my favorite one, made for my little one. Sadly, I lost it.</h2>
                <img width="200" height="200" src="./images/IMG_0320.JPG" alt="Bear beanie">
            </li>
            <li>
                <h2>Crochet Babies</h2>
                <img width="200" height="200" src="./images/IMG_0875.JPG" alt="Bear & Bunnie">
            </li>
            <li>
                <h2>Crocheted a full set for my little one—from head to toe.</h2>
                <img width="200" height="200" src="./images/IMG_1010.JPG" alt="Bear & Bunnie">
            </li>
        </ul>
        
        
    </main>
</body>
</html>