<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Lavishly+Yours&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Puppies+Play&family=Updock&family=WindSong:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <title>VIDYA</title>
</head>
<body>
    <div class="vidya">
        <figure style="display: flex; justify-content: center; align-items: center; margin: 0 0 0 0">
            <img width="200" height="200" src="./images/vid.jpg" alt="my own image" style="display: flex; justify-content: center; align-items: center; margin: 0 0 0 0">
        </figure>
        <h1>Vidya</h1>
        <p>An ordinary girl striving to live a happy life despite her flaws and regrets.</p>
        
        <section>
            <h2>PROJECTS</h2>
            <dl>
                <dt><a class="project" href="/crochet.ejs" title="crochet">Made with Yarn, Filled with Love</a></dt>
                <dd>My Crochet collection</dd>
                <dt><a class="project" href="/dance.ejs" title="crochet">Dance like no one is watching you</a></dt>
                <dd>My Dance events</dd>
                <dt><a class="project" href="/painting.ejs" title="crochet">Using Brush to Speak</a></dt>
                <dd>My Painting collection</dd>
                <dt><a class="project" href="/swimming.ejs" title="swimming">From fear to fun with water</a></dt>
                <dd>Swimming Diploma pictures</dd>
            </dl>
        </section>
        
    </div>
</body>
</html>
