<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIDYA</title>
</head>
<body>
    <div>
    <h1>About Me</h1>
    <p>An ordinary girl striving to live a happy life despite her flaws and regrets.</p>
</div>
</body>
</html>
